menu "ESP-NOW Demo"

choice DEVICE_ROLE

    prompt "Device Role"

    default DEVICE_ROLE_GATEWAY

config DEVICE_ROLE_GATEWAY
    bool "Gateway"

config DEVICE_ROLE_SENSOR
    bool "Sensor"

endchoice

config ESP_WIFI_SSID
    string "YOUR_WIFI_SSID"

config ESP_WIFI_PASSWORD
    string "YOUR_WIFI_PASSWORD"

config GATEWAY_MAC
    string "Gateway MAC Address"
    default "94:e6:86:0d:11:8c"

endmenu